<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-database.js"></script>
const firebaseConfig = {
apiKey: "AIzaSyBdTC_Yuk-HIvpMZI9G_SJZ_G4Yuvyy3Jg",
authDomain: "dbmsprojectone.firebaseapp.com",
projectId: "dbmsprojectone",
storageBucket: "dbmsprojectone.appspot.com",
messagingSenderId: "803492942678",
appId: "1:803492942678:web:b08a765ab3aded91043cf7"
};
firebase.initializeApp(firebaseConfig);